*,
    *::after,
    *::before {
      box-sizing: border-box;
    }

    .modal {
      display:none;
      position: fixed;
      top: 50%;
      left: 40%;
      border-radius: 10px;
      z-index: 10;
      background-color: #4c4c4c;
      margin: 0 auto;
      max-width: 28%;
      cursor: pointer;
        opacity: 0;
      visibility: hidden;
      transition: 0.5s linear;
    }

    .modal.active {
       opacity: 1;
      visibility: visible;
    }

    .modal-header {
      padding: 40px;
      padding-bottom: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .modal-header .check {
      width: 60px;
      height: 60px;
      background: #00bfa5;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      border-radius: 50%;
      color: white;
    }

    .modal-body {
      font-size: 16px;
      padding: 30px;
      padding-left: 50px;
      padding-right: 50px;
      font-family: sans-serif;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
